@font-face {
  src: url(https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Noto+Serif&display=swap);
  font-family: "Inter", Arial, sans-serif;
  font-family: "Noto serif", "Times New Roman", serif;
}
